<div class="main-content-card animate__animated animate__zoomIn">
    <h3>Product Entry</h3>

    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Product Name</label>
                </div>
                <div class="col-md-4">
                    <input required [class.invalidControl]="prodName.invalid && prodName.touched"
                     name="prodName" #prodName="ngModel" [(ngModel)]="service.formData.name" 
                     type="text" />
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Barcode</label>
                </div>
                <div class="col-md-4 ">
                    <input required [class.invalidControl]="barcode.invalid && barcode.touched"
                    name="barcode" #barcode="ngModel" [(ngModel)]="service.formData.barcode" 
                    type="text" />
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Weight</label>
                </div>
                <div class="col-md-4">
                    <input required name="prodWeight" #prodWeight="ngModel" [(ngModel)]="service.formData.weight" type="text" name="reference">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Description</label>
                </div>
                <div class="col-md-4 ">
                    <input name="prodDesc" #prodDesc="ngModel" [(ngModel)]="service.formData.description" type="text" name="reciever_name">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Expiry Date</label>
                </div>
                <div class="col-md-4">
                    <input required name="prodExpiry" #prodExpiry="ngModel" [(ngModel)]="service.formData.expirydate" type="date" name="reference">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Category</label>
                </div>
                <div class="col-md-4 ">
                    <select required name="catId" #catId="ngModel" [(ngModel)]="service.formData.categoryId" class="mt-3">
                        <option value="-1">Select Category</option>
                        <option value="{{item.id}}" *ngFor="let item of categories">{{item.name}}</option>
                    </select>
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Price</label>
                </div>
                <div class="col-md-4">
                    <input required name="prodPrice" #prodPrice="ngModel" [(ngModel)]="service.formData.price" type="text" name="reference">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
               
            </div>
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3" [disabled]="form.invalid">Add Product</button>
                <button class="btn btnShipSecondary" (click)="resetForm(form)">Reset</button>
            </div>

        </div>
    </form>
</div>

