<section class="content-section animate__animated animate__zoomIn">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="centerized-container">
                    <h3>Set Sales Return Ratio</h3>
                    <p class="shipment-note">
                        Set penalty margin on sales return    
                    </p>
                    
                    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
                        <label for="">Deduction Margin</label>
                        <input type="text" placeholder="Enter margin ratio here" required [class.invalidControl]="ratio.invalid && ratio.touched"
                        name="ratio" #ratio="ngModel" [(ngModel)]="service.formData.ratio"
                        type="text">
                        <div class="mt-4">
                            <button [disabled]="form.invalid" class="btn btnShipPrimary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
</section>