<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="centerized-container">
                    <h3>Set Sales Return Ratio</h3>
                    <p class="shipment-note">
                        Set penalty margin on sales return    
                    </p>
                    
                    <form action="">
                        <label for="">Deduction Margin</label>
                        <input type="text" placeholder="Enter margin ratio here">
                        <div class="mt-4">
                            <button class="btn btnShipPrimary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
</section>