.ad-dbd-indicator{
    padding: 10px;
    background-color: white;
    display: flex;
    height: 120px;
    align-items: center;
    margin: 10px;
}
.ad-dbd-indicator span{
    font-size: 2.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    position: relative;
}
/* .ad-dbd-indicator span::before{
    position: absolute;
    background-color: gray;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    animation-name: ind-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */
/* @keyframes ind-anim {
    0%{
        width: 0px;
        height:0px;
        opacity: 0;
    }
    100%{
        width: 50px;
        height:50px;
        opacity: 0.1;
    }
} */
.ad-dbd-indicator div{
    padding-left: 20px;
}
.ad-dbd-indicator div p{
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--secondary);
}



.ad-graph{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.ad-graph-header{
    display: flex;
    padding: 8px 0px;
}
.ad-graph-header h6{
    font-weight: 600;
    letter-spacing: 2px;
    width: 50%;
}
.ad-graph-header div{
    width: 50%;
    text-align: right;
}

.ad-table-sec
{
    padding: 10px;
}