
<section class="ad-dbd-cont">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total sales</p>
                        <h4>Rs. 450000</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total sales</p>
                        <h4>Rs. 450000</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total sales</p>
                        <h4>Rs. 450000</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total sales</p>
                        <h4>Rs. 450000</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="ad-graph">
                    <div class="ad-graph-header">
                        <h6>Sales and Revenue</h6>
                        <div>
                            <a href="#">Show All</a>
                        </div>
                    </div>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>

            <div class="col-md-6">
                <div class="ad-graph">
                    <div class="ad-graph-header">
                        <h6>Sales and Revenue</h6>
                        <div>
                            <a href="#">Show All</a>
                        </div>
                    </div>
                    <canvas id="rightChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="ad-table-sec">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Name</th>
                                <th>Product Name</th>
                                <th>Product Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="#">Show</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="#">Show</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="#">Show</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="#">Show</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="#">Show</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>
