
<section class="ad-dbd-cont animate__animated animate__zoomIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total sales</p>
                        <h4>{{details.totalSales}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total Purchases</p>
                        <h4>{{details.totalPurchase}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total Products</p>
                        <h4>{{details.totalProducts}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ad-dbd-indicator">
                    <span><i class="fa fa-line-chart"></i></span>
                    <div>
                        <p>Total Categories</p>
                        <h4>{{details.totalCategories}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="ad-graph">
                    <div class="ad-graph-header">
                        <h6>Sales and Revenue</h6>
                        <div>
                            <a href="#">Show All</a>
                        </div>
                    </div>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>

            <div class="col-md-6">
                <div class="ad-graph">
                    <div class="ad-graph-header">
                        <h6>Sales and Revenue</h6>
                        <div>
                            <a href="#">Show All</a>
                        </div>
                    </div>
                    <canvas id="rightChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="ad-table-sec">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Produst Name</th>
                                <th>Product Weight</th>
                                <th>Product Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of details.products">
                                <td>{{item.name}}</td>
                                <td>{{item.weight}}</td>
                                <td>{{item.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>
