

<div class="main-content-card animate__animated animate__zoomIn">
    <h3>Employee Entry</h3>

    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>First Name</label>
                </div>
                <div class="col-md-4">
                    <input required [class.invalidControl]="fname.invalid && fname.touched"
                    name="fname" #fname="ngModel" [(ngModel)]="service.formData.firstName"
                    type="text">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Last Name</label>
                </div>
                <div class="col-md-4 ">
                    <input [(ngModel)]="service.formData.lastName" 
                    name="lastname"
                    type="text" >
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Username</label>
                </div>
                <div class="col-md-4">
                    <input type="text" [class.invalidControl]="username.invalid && username.touched"
                    name="username" #username="ngModel" [(ngModel)]="service.formData.username">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Contact</label>
                </div>
                <div class="col-md-4 ">
                    <input type="text" required [class.invalidControl]="contact.invalid && contact.touched"
                    name="contact" #contact="ngModel" [(ngModel)]="service.formData.contact" 
                    name="reciever_name">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>


            <div class="row m-3">
               
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Email</label>
                </div>
                <div class="col-md-4">
                    <input type="email" 
                    required [class.invalidControl]="email.invalid && email.touched"
                    name="email" #email="ngModel" [(ngModel)]="service.formData.email" >
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3" [disabled]="form.invalid">Add Employee</button>
                <button class="btn btnShipSecondary">Reset</button>
            </div>

        </div>
    </form>
</div>

