

<div class="main-content-card">
    <h3>Employee Entry</h3>

    <form action="">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>First Name</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Last Name</label>
                </div>
                <div class="col-md-4 ">
                    <input type="text" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>CNIC</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Date of Date</label>
                </div>
                <div class="col-md-4 ">
                    <input type="date" name="reciever_name">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Joining Date</label>
                </div>
                <div class="col-md-4 ">
                    <input type="date" name="reciever_name">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Salary</label>
                </div>
                <div class="col-md-4">
                    <input type="number" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3">Add Employee</button>
                <button class="btn btnShipSecondary">Reset</button>
            </div>

        </div>
    </form>
</div>

