

<div class="main-content-card">
    <h3>ALL PURCHASES</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="dailyparceldata">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Supplier</th>
                            <th>Price Per Unit</th>
                            <th>Date Of Purchase</th>
                            <th>Total Amount</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>