

<section class="usr-dbd-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="usr-dbd-first">
                    <h4>Hi Nobody</h4>
                    <h5>Welcome back !</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, laborum.</p>
                    <img src="./../../../assets/images/welcome.svg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="usr-db-srch-pnl">
                    <h6>Search for the product</h6>
                    <form action="">
                        <input class="form-control" type="text" placeholder="Enter Product Name">
                        <br>
                        <button class="btn">
                            Search <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="usr-db-srch-rslt">
                    <div class="usr-rslt-ind">
                        <span class="usr-rslt-ind-icon"><i class="fa fa-money"></i></span>
                        <div>
                            <h5>Rs. 500</h5>
                            <h6>price</h6>
                        </div>
                    </div>
                    <div class="usr-rslt-ind">
                        <span class="usr-rslt-ind-icon"><i class="fa fa-money"></i></span>
                        <div>
                            <h5>Rs. 100</h5>
                            <h6>discount</h6>
                        </div>
                    </div>
                    <div class="usr-rslt-ind">
                        <span class="usr-rslt-ind-icon"><i class="fa fa-bars"></i></span>
                        <div>
                            <h5>210</h5>
                            <h6>stock</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="usr-dbd-third">
                    <div class="out-of-stock-list">
                        <h5>Products Out of Stock</h5>
                        <ul>
                            <li>
                                <div class="out-of-stck-item">
                                    <span></span>
                                    <h6>Item</h6>
                                    <h6>50</h6>
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="out-of-stck-item">
                                    <span></span>
                                    <h6>Item</h6>
                                    <h6>50</h6>
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="out-of-stck-item">
                                    <span></span>
                                    <h6>Item</h6>
                                    <h6>50</h6>
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="out-of-stck-item">
                                    <span></span>
                                    <h6>Item</h6>
                                    <h6>50</h6>
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="usr-dbd-graph-cont">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
