<nav class="top-nav">
    <div class="main-content-banner">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-0">
                <div class="timer-container">
                    <input type="text" placeholder="Enter Text to search product">
                    <button class="btn"><i class="fa fa-search"></i></button>
                    <span class="region-time">
                        <img src="./images/om.svg" alt="">
                        1:39:56 pm
                    </span>
                </div>
            </div>
            <div class="col-lg-3 text-right p-0">
                <h1 class="site-title-smallvp text-left">NAVIGATOR</h1>
                <div class="text-right d-inline">
                    <span class="top-nav-btn topnav-notif-btn">
                        <i class="fa fa-bell-o"></i>
                        <span class="notification-counter">40</span>
                    </span>
                    <span class="top-nav-btn topnav-mail-btn">
                        <i class="fa fa-envelope-o"></i>
                        <span class="notification-counter">63</span>
                    </span>
                    <span class="top-nav-btn topnav-prof-btn">
                        B
                    </span>
                    <!-- ---------- PROFILE POPUP -------- -->
                    <div class="profile-popup cst-popup">
                        <div class="profile-popup-head">
                            <h4>BB Collection</h4>
                            <p>sampleuser@gmail.com</p>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-cog"></i> Profile </a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> signout </a></li>
                        </ul>
                    </div>
                    <!-- ---------- NOTIFICATION POPUP -------- -->
                    <div class="notification-popup cst-popup">
                        <p class="unread-notif">
                            You have 20 unread notification(s)
                        </p>
                        <ul class="notification-list">
                            <li>
                                <a href="#" class="notif-item">
                                    <span>RGS</span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span>RGS</span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span>RGS</span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span>RGS</span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span>RGS</span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                     <!-- ---------- EMAIL POPUP -------- -->
                     <div class="email-popup cst-popup">
                        <p class="unread-notif">
                            You have 36 unread email(s)
                        </p>
                        <ul class="notification-list">
                            <li>
                                <a href="#" class="notif-item">
                                    <span><i class="fa fa-envelope"></i></span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span><i class="fa fa-envelope"></i></span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span><i class="fa fa-envelope"></i></span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span><i class="fa fa-envelope"></i></span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notif-item">
                                    <span><i class="fa fa-envelope"></i></span>
                                    <div>
                                        <h6>Revision Exchange Rates</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                     
                <button class="btn-nav-open">
                    <i class="fa fa-bars"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
</nav>
