<div class="main-content-card animate__animated animate__zoomIn">
    <h3>Category Entry</h3>

    <form action="">
        <div class="container-fluid ">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Category Title</label>
                </div>
                <div class="col-md-3">
                    <input type="text" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Description</label>
                </div>
                <div class="col-md-5 ">
                    <input type="text" name="reciever_name">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3">Add Category</button>
                <button class="btn btnShipSecondary">Reset</button>
            </div>

        </div>
    </form>
</div>


<div class="main-content-card mt-5 animate__animated animate__zoomIn">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="dailyparceldata">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>View | Edit | Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>