<div class="main-content-card animate__animated animate__zoomIn">
    <h3>Category Entry</h3>

    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="container-fluid ">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Category Title</label>
                </div>
                <div class="col-md-3">
                    <input name="catName" #catName="ngModel" [class.invalidControl]="catName.invalid && catName.touched"
                    required maxlength="50" minlength="3" type="text" [(ngModel)]="service.formData.name"/>
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Description</label>
                </div>
                <div class="col-md-5 ">
                    <input name="catDesription" [(ngModel)]="service.formData.description" maxlength="150" type="text" [(ngModel)]="service.formData.description">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3" [disabled]="form.invalid">Add Category</button>
                <button class="btn btnShipSecondary" (click)="resetForm(form)">Reset</button>
            </div>

        </div>
    </form>
</div>


<div class="main-content-card mt-5 animate__animated animate__zoomIn">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="dailyparceldata">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Edit | Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categories">
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>