<div class="main-content-card animate__animated animate__zoomIn">
    <h3>Supplier Entry</h3>

    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Company Name</label>
                </div>
                <div class="col-md-4">
                    <input name="compName" #compName="ngModel" [(ngModel)]="service.formData.companyName" required type="text" name="reference">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Reg. No.</label>
                </div>
                <div class="col-md-4 ">
                    <input required name="regNumber" #regNumber="ngModel" [(ngModel)]="service.formData.regNumber" type="text" name="reference">
                    <!-- <span class="input-error">* Error goes here</span>   -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Contact No</label>
                </div>
                <div class="col-md-4">
                    <input name="contactNo" #contactNo="ngModel" [(ngModel)]="service.formData.contactNo" required type="text" name="reference">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Address</label>
                </div>
                <div class="col-md-4 ">
                    <input name="address" #address="ngModel" [(ngModel)]="service.formData.address" required type="text" name="reciever_name">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>City</label>
                </div>
                <div class="col-md-4">
                    <select name="cityId" #cityId="ngModel" [(ngModel)]="service.formData.cityId" required class="mt-3">
                        <option value="-1" selected>-- Select City</option>
                        <option value="{{item.id}}" *ngFor="let item of cities">{{item.name}}</option>
                    </select>
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>

            <hr>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Supplier Name</label>
                </div>
                <div class="col-md-4 ">
                    <input name="supplierName" #supplierName="ngModel" [(ngModel)]="service.formData.supplierName" required type="text" name="reciever_name">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Supplier Contact</label>
                </div>
                <div class="col-md-4 ">
                    <input name="supplierContact" #supplierContact="ngModel" [(ngModel)]="service.formData.supplierContact" required type="text" name="reciever_name">
                    <!-- <span class="input-error">* Error goes here</span> -->
                </div>
            </div>
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3" [disabled]="form.invalid">Add Supplier</button>
                <button class="btn btnShipSecondary" (click)="resetForm(form)">Reset</button>
            </div>

        </div>
    </form>
</div>