

<div class="main-content-card">
    <h3>Manage stock</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="dailyparceldata">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>Lorem, ipsum.</td>
                            <td>
                                <a href="#" class="btn-in-table btn-table-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="#" class="btn-in-table btn-table-edit">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>







<!-- 
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="centerized-container">
                    <h3>Add product stock</h3>
                    <form action="">
                        <label>Product Name</label>
                        <input type="text" name="reference">
                        <span class="input-error">* Error goes here</span>
                        <label>Category</label>
                        <select>
                            <option value="-1">Select Category</option>
                            <option value="">Cat 1</option>
                            <option value="">Cat 2</option>
                        </select>
                        <span class="input-error">* Error goes here</span>
                            <label>Weight</label>
                            <input type="text" name="reference">
                            <span class="input-error">* Error goes here</span>
                            <label>Description</label>
                            <input type="text" name="reciever_name">
                            <span class="input-error">* Error goes here</span>
                        <div class="mt-4">
                            <button class="btn btnShipPrimary mr-3" type="submit">Submit</button>
                            <button class="btn btnShipSecondary" type="reset">Reset</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
</section>  -->