 
        <div class="login-left-cont">
            <div class="lgn-left-inner">
                <h1>Welcome Back</h1>
                <p>Enter Your Credentials to get into the system</p>
            </div>
        </div>
        <div class="login-right-cont">
            <div class="login-inner-cont">
                <div class="login-main-header">
                    <img src="./images/loginsvg.svg" alt="">
                    <h3>LOGISTICS</h3>
                </div>
                <form action="">
                    <label class="login-input-label"><span class="pr-2"><i class="fa fa-user"></i></span> Email</label>
                    <input class="cst-login-control" type="email" placeholder="Enter Your Email">
    
                    <label class="login-input-label"><span class="pr-2"><i class="fa fa-key"></i></span> Password</label>
                    <input class="cst-login-control" type="password" placeholder="Enter Your Password">
    
                    <button class="btnlogin" type="submit">Login</button>
    
                </form>
            </div>

            <div class="login-footer">
                <p>Copyright © Logistics. All rights reserved.</p>
            <span>Designed and Developed by Inshal | Subhan | Arqam</span>
            </div>
        </div>
