 
      
        <div class="login-right-cont">
            <div class="login-inner-cont">
                <div class="login-main-header">
                    <img src="images/loginsvg.svg" alt="">
                    <div class="login-logo-header pt-3">
                        <span><span class="login-half">Inve</span>ntory </span>
                        <br>
                        <span class="login-title-half">NAVIGATOR</span>
                    </div>
                </div>
                <form action="">
                    <label class="login-input-label"><span class="pr-2"><i class="fa fa-user"></i></span> Email</label>
                    <input class="cst-login-control" type="email" placeholder="Enter Your Email">
    
                    <label class="login-input-label"><span class="pr-2"><i class="fa fa-key"></i></span> Password</label>
                    <input class="cst-login-control" type="password" placeholder="Enter Your Password">
    
                    <button class="btnlogin" type="submit">Login</button>
    
                </form>
            </div>
        </div>
        <footer>
            <p>Copyright © INVENTORY NAVIGATOR. All rights reserved.</p>
            <span>Designed and Developed in 2022</span>
        </footer>
        
