<nav class="main-sidenav">
    <div class="sidenav-header pt-3">
        <!-- <img src="./images/logo.png" alt=""> -->
        <span><b class="text-white">Inve</b>ntory </span>
        <span class="main-title-half">NAVIGATOR</span>
    </div>
    <div class="sidenav-loginas">
        <a href="#" class="login-comp-link">
            <span class="login-comp-ind">
                B
                <span class="online-mark"></span>
            </span>
            <div class="login-comp-name">
                <h6>BB Collection</h6>
                <p>Logged In As Admin</p>
            </div>
        </a>
    </div>
    <div class="sidenav-body">
        <ul class="main-navigation">
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Add Sales
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Manage Sales Return
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#sipmententry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Manage Purchase 
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="sipmententry">
                    <ul>
                        <li><a href="addnewshipment.html">Add Purchase</a></li>
                        <li><a href="importshipment.html">All Purchases</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#productentry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Manage Product 
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="productentry">
                    <ul>
                        <li><a routerLink="add-product">Add Product</a></li>
                        <li><a routerLink="products">All Product</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#reportentry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Report Manager 
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="reportentry">
                    <ul>
                        <li><a href="addnewshipment.html">Sales Report</a></li>
                        <li><a href="importshipment.html">Purchase Report</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#empentry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Manage Employees 
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="empentry">
                    <ul>
                        <li><a href="addnewshipment.html">Add Employee</a></li>
                        <li><a href="importshipment.html">All Employees</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#offerentry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Manage Offers 
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="offerentry">
                    <ul>
                        <li><a href="addnewshipment.html">Create Offer</a></li>
                        <li><a href="importshipment.html">All Offers</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Manage Pricing
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Set Sales Return Ratio
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Manage Stock
                </a>
            </li>
            <li>
                <a routerLink="category">
                    <span><i class="fa fa-desktop"></i></span>
                    Add Category
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Add Supplier
                </a>
            </li>
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Logout
                </a>
            </li>
            
        </ul>
    </div>
</nav>