<nav class="main-sidenav">
    <div class="sidenav-header pt-3">
        <!-- <img src="./images/logo.png" alt=""> -->
        <span><b class="text-white">Inve</b>ntory </span>
        <span class="main-title-half">NAVIGATOR</span>
    </div>
    <div class="sidenav-loginas">
        <a href="#" class="login-comp-link">
            <span class="login-comp-ind">
                B
                <span class="online-mark"></span>
            </span>
            <div class="login-comp-name">
                <h6>BB Collection</h6>
                <p>Logged In As Admin</p>
            </div>
        </a>
    </div>
    <div class="sidenav-body">
        <ul class="main-navigation">
            <li>
                <a href="Dashboard.html">
                    <span><i class="fa fa-desktop"></i></span>
                    Dashboard
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#sipmententry" role="button" >
                    <span><i class="fa fa-ship"></i></span>
                    Shipment Entry
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="sipmententry">
                    <ul>
                        <li><a href="addnewshipment.html">Add New</a></li>
                        <li><a href="importshipment.html">Import</a></li>
                        <li><a href="generateparcticket.html">Generate Parcel Tickets</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#sipmentlogs" role="button" >
                    <span><i class="fa fa-list"></i></span>
                    Shipment Logs
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="sipmentlogs">
                    <ul>
                        <li><a href="searchparcel.html">Search Parcel</a></li>
                        <li><a href="trackmultiparcel.html">Track Multiple Parcels</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#activity" role="button" >
                    <span><i class="fa fa-table"></i></span>
                    Activity
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="activity">
                    <ul>
                        <li><a href="dailyparcel.html">Daily Parcels</a></li>
                        <li><a href="datewiseparcel.html">Date Wise Parcels</a></li>
                        <li><a href="parcelsummary.html">Parcels Summary</a></li>
                        <li><a href="exportshipment.html">Export Shipments</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a href="codreport.html">
                    <span><i class="fa fa-file-pdf-o"></i></span>
                    COD Reports
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#ordersupplies" role="button" >
                    <span><i class="fa fa-file-text"></i></span>
                    Order Supplies
                    <span class="expand-icon"><i class="fa fa-angle-double-down"></i></span>
                </a>
                <div class="collapse cst-collapse" id="ordersupplies">
                    <ul>
                        <li><a href="flyerrequest.html">Request Flyers</a></li>
                        <li><a href="checkflyerrequest.html">Check Flyers Status</a></li>
                    </ul>
                  </div>
            </li>
            <li>
                <a href="returnedparcels.html">
                    <span><i class="fa fa-arrow-circle-left"></i></span>
                    Returned Parcels
                </a>
            </li>
            <li>
                <a href="newsfeed.html">
                    <span><i class="fa fa-rss"></i></span>
                    News Feed
                </a>
            </li>
            <li>
                <a href="reportmanager.html">
                    <span><i class="fa fa-bar-chart"></i></span>
                    Report Manager
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-sign-out"></i></span>
                    Logout
                </a>
            </li>
            
        </ul>
    </div>
</nav>