
<div class="main-loader-cont">
    <div class="ldr-cnt-inner">

        
        <div class="success-alert-cont">
            <div class="success-alert-header">
                <span><i class="fa fa-check"></i></span>
            </div>
            <div class="success-alert-body">
                <h3>Success !!</h3>
                <p class="alert-message">Data inserted into database successfully</p>
                <button class="btn">Go Ahead <i  class="fa fa-arrow-right pl-3"></i></button>
            </div>
        </div>

    </div>
</div>

