
<div class="main-loader-cont">
    <div class="ldr-cnt-inner">

        
        <div class="success-alert-cont">
            <div class="failure-alert-header">
                <span class="mt-3"><i class="fa fa-times"></i></span>
            </div>
            <div class="success-alert-body">
                <h3>Ooops !!</h3>
                <p class="alert-message">Something went wrong while processing</p>
                <button class="btn">Go Ahead <i  class="fa fa-arrow-right pl-3"></i></button>
            </div>
        </div>

    </div>
</div>

