<app-sidebar></app-sidebar>


<section class="main-body-content">


    <app-topbar></app-topbar>

   <section class="content-section">

    <router-outlet></router-outlet>
        
        <!-- <app-product></app-product> -->
        <!-- <app-stock></app-stock> -->
        <!-- <app-purchase></app-purchase> -->
        <!-- <app-loader></app-loader> -->
        <!-- <app-success-alert></app-success-alert> -->
        <!-- <app-failure-alert></app-failure-alert> -->
        <!-- <app-category></app-category> -->
        <!-- <app-login></app-login>  -->
        <!-- <app-sales></app-sales> -->
        <!-- <app-pricing></app-pricing> -->
        <!-- <app-sales-return></app-sales-return> -->
        <!-- <app-add-employee></app-add-employee> -->
        <!-- <app-employees></app-employees> -->
        <!-- <app-set-sales-return></app-set-sales-return> -->
        <!-- <app-set-offer></app-set-offer> -->
        <!-- <app-offers></app-offers> -->
        <!-- <app-add-product></app-add-product> -->
        <!-- <app-supplier></app-supplier> -->
        <!-- <app-add-purchase></app-add-purchase> -->
        <!-- <app-admin-dashboard></app-admin-dashboard> -->
        <!-- <app-user-dashboard></app-user-dashboard>  -->

   </section>


   <footer>
       <p>Copyright © INVENTORY NAVIGATOR. All rights reserved.</p>
       <span>Designed and Developed in 2022</span>
   </footer>
</section>


<!-- <app-login></app-login> -->