<app-sidebar></app-sidebar>


<section class="main-body-content">


    <app-topbar></app-topbar>

   <section class="content-section">

        <!-- <app-category></app-category> -->
        <!-- <app-product></app-product> -->
        <!-- <app-add-product></app-add-product> -->
        <!-- <app-supplier></app-supplier> -->
        <!-- <app-stock></app-stock> -->
        <!-- <app-purchase></app-purchase> -->
        <!-- <app-add-purchase></app-add-purchase> -->
        <!-- <app-pricing></app-pricing> -->
        <!-- <app-loader></app-loader> -->
        <!-- <app-success-alert></app-success-alert> -->
        <!-- <app-failure-alert></app-failure-alert> -->
   </section>


   <footer>
       <p>Copyright © INVENTORY NAVIGATOR. All rights reserved.</p>
       <span>Designed and Developed in 2022</span>
   </footer>
</section>
