<div class="main-content-card">
    <h3>Purchase Entry</h3>

    <form action="">
        <div class="container-fluid">
            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Product</label>
                </div>
                <div class="col-md-4">
                    <select class="mt-3">
                        <option value="-1">-- Select Product</option>
                        <option value="">Cat 1</option>
                        <option value="">Cat 2</option>
                    </select>
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Supplier</label>
                </div>
                <div class="col-md-4 ">
                    <select class="mt-3">
                        <option value="-1">-- Select Supplier</option>
                        <option value="">Cat 1</option>
                        <option value="">Cat 2</option>
                    </select>
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Price Per Unit</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Total Quantity</label>
                </div>
                <div class="col-md-4 ">
                    <input type="text" name="reciever_name">
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Date of Purchase</label>
                </div>
                <div class="col-md-4">
                    <input type="date" name="reference">
                    <span class="input-error">* Error goes here</span>
                </div>
                <div class="col-md-2 add-shp-lbl-cont">
                    <label>Total Amount</label>
                </div>
                <div class="col-md-4 ">
                    <input type="text" name="reciever_name" disabled>
                    <span class="input-error">* Error goes here</span>
                </div>
            </div>
           
            <div class="row m-3">
                <button class="btn btnShipPrimary mr-3">Add Purchase</button>
                <button class="btn btnShipSecondary">Reset</button>
            </div>

        </div>
    </form>
</div>

